{erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            warnings_as_errors
           ]}.

{cover_export_enabled, true}.
{cover_enabled, true}.

{deps, [
        {lager, "3.7.0"},
        {libp2p, {git, "https://github.com/helium/erlang-libp2p.git", {branch, "master"}}},
        {helium_proto, {git, "https://github.com/helium/proto.git", {branch, "master"}}},
        {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
        {kvc, {git, "https://github.com/etrepum/kvc", {tag, "v1.7.0"}}},
        {observer_cli, "1.5.0"},
        {hackney, "1.15.2"},
        {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "v1.1.1"}}},
        {erl_angry_purple_tiger, {git, "https://github.com/helium/erl_angry_purple_tiger.git", {branch, "master"}}},
        {httpc_aws, {git, "https://github.com/helium/httpc-aws.git", {branch, "master"}}},
        {gun, "2.0.0", {pkg, grpc_gun}}
       ]}.

{plugins, [
           rebar3_fmt
          ]}.

{xref_checks, [
               undefined_function_calls,
               undefined_functions,
               locals_not_used
              ]}.


{profiles, [
            {test, [
                    {deps, [{meck, "0.8.12"},
                            {elli, "3.2.0"},
                            {emqx, {git, "https://github.com/emqx/emqx.git", {tag, "v4.0.6"}}}]}
                   ]}
           ]}.

{relx, [
        {release, {"router", "1.0.0"}, [router]},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"},
        {sys_config_src, "config/sys.config.src"},
        {extended_start_script, true},
        {include_src, true}
       ]}.

{pre_hooks,
 [{"(linux)", ct, "./c_src/compile.sh"}]}.

