{erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            warnings_as_errors
           ]}.

{cover_export_enabled, true}.
{cover_enabled, true}.

{deps, [
        {lager, "3.7.0"},
        {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
        {kvc, {git, "https://github.com/etrepum/kvc", {tag, "v1.7.0"}}},
        {observer_cli, "1.5.0"},
        {hackney, "1.15.2"},
        {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "v1.1.1"}}},
        {httpc_aws, {git, "https://github.com/helium/httpc-aws.git", {branch, "master"}}},
        {websocket_client, "1.3.0"},
        {erlang_v8, {git, "https://github.com/Vagabond/erlang_v8.git", {branch, "master"}}},
        {blockchain, {git, "https://github.com/helium/blockchain-core.git", {branch, "rg/router-integration-fixes"}}}
       ]}.

{plugins, [
           rebar3_fmt
          ]}.

{xref_checks, [
               undefined_function_calls,
               undefined_functions,
               locals_not_used
              ]}.


{profiles, [
            {test, [
                    {overrides, [{add, blockchain, [{erl_opts, [{d, 'TEST'}]}]}]},
                    {deps, [{meck, "0.8.12"},
                            {elli, "3.2.0"},
                            {elli_websocket, "0.1.1"},
                            {emqx, {git, "https://github.com/emqx/emqx.git", {tag, "v4.0.6"}}},
                            {miner_test, {git, "https://github.com/helium/miner-test.git", {branch, "master"}}}]}
                   ]}
           ]}.

{relx, [
        {release, {"router", "1.0.0"}, [router]},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"},
        {sys_config_src, "config/sys.config.src"},
        {extended_start_script, true},
        {include_src, true},
        {overlay,
         [
          {copy, "./_build/default/lib/blockchain/scripts/extensions/peer", "bin/extensions/peer"},
          {copy, "./_build/default/lib/blockchain/scripts/extensions/ledger", "bin/extensions/ledger"},
          {copy, "./_build/default/lib/blockchain/scripts/extensions/trace", "bin/extensions/trace"},
          {copy, "./_build/default/lib/blockchain/scripts/extensions/txn", "bin/extensions/txn"},
          {copy, "./_build/default/lib/blockchain/scripts/extensions/repair", "bin/extensions/repair"},
          {copy, "./_build/default/lib/blockchain/scripts/extensions/sc", "bin/extensions/sc"}
         ]},
        {extended_start_script_hooks,
         [
          {post_start,
           [
            {wait_for_process, blockchain_worker}
           ]}
         ]},
        {generate_start_script, true},
        {extended_start_script, true},
        {extended_start_script_extensions,
         [
          {peer, "extensions/peer"},
          {ledger, "extensions/ledger"},
          {trace, "extensions/trace"},
          {txn, "extensions/txn"},
          {repair, "extensions/repair"},
          {sc, "extensions/sc"}
         ]}
       ]}.

{pre_hooks,
 [{"(linux)", ct, "./c_src/compile.sh"}]}.
