{erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            {i, "./_build/default/plugins/gpb/include"},
            warnings_as_errors
           ]}.



{deps, [
        {lager, "3.7.0"},
        {libp2p, ".*", {git, "https://github.com/helium/erlang-libp2p.git", {branch, "master"}}}
       ]}.

{plugins, [
           rebar3_gpb_plugin,
           rebar3_fmt
          ]}.

{provider_hooks, [
                  {pre, [
                         {compile, {protobuf, compile}},
                         {clean, {protobuf, clean}}
                        ]}
                 ]}.

{gpb_opts, [
            {i, "src"},
            {o_erl, "src/pb"},
            {o_hrl, "src/pb"},
            {msg_name_prefix, "router_"},
            {msg_name_suffix, "_pb"},
            {module_name_suffix, "_pb"},
            {strings_as_binaries, false},
            type_specs
           ]}.

{xref_checks, [
               undefined_function_calls,
               undefined_functions
               %% deprecated_function_calls,
               %% deprecated_functions
              ]}.


{profiles, [
            {test, [
                    {deps, [{meck, "0.8.12"}]}
                   ]}
           ]}.
