[Unit]
Description=Helium Router service
Documentation=https://github.com/helium/router/
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
User=helium
Group=helium

ExecStart=/bin/router background
RemainAfterExit=yes

WorkingDirectory=/opt/router/router
ExecReload=/bin/router restart
ExecStop=/bin/router stop

[Install]
WantedBy=default.target
