{plugins, [
    {grpcbox_plugin,
        {git, "https://github.com/novalabsxyz/grpcbox_plugin.git",
            {branch, "andymck/ts-master/combined-opts-and-template-changes"}}}
]}.

{grpc, [
    {proto_files, [
        "_build/default/lib/helium_proto/src/service/router.proto",
        "_build/default/lib/helium_proto/src/service/packet_router.proto",
        "_build/default/lib/helium_proto/src/service/iot_config.proto"
    ]},
    {out_dir, "src/grpc/autogen"},
    {beam_out_dir, "src/grpc/autogen"},
    {keep_beams, false},
    {create_services, true},
    {type, all},
    {override_gpb_defaults, true},
    {gpb_opts, [
        use_packages,
        {defs_as_proplists, true},
        {report, true},
        {descriptor, false},
        {recursive, false},
        {i, "_build/default/lib/helium_proto/src"},
        {o, "src/grpc/autogen"},
        %% prevent name collisions with the server code
        {module_name_prefix, ""},
        {module_name_suffix, "_pb"},
        {rename, {msg_fqname, base_name}},
        {rename, {msg_fqname, {prefix, {by_proto, [{iot_config, "iot_config_"}]}}}},
        {rename, {msg_name, {suffix, "_pb"}}},
        {strings_as_binaries, false},
        type_specs
    ]}
]}.
