%% -*- erlang -*-
[{lager, [{suppress_supervisor_start_stop, true},
          {log_root, "/var/data/log/router"},
          {crash_log, "crash.log"},
          {colored, true},
          {handlers, [{lager_console_backend, [{level, info},
                                               {formatter_config,
                                                ["[", date, " ", time, "] ", pid, " [", severity,"]",  {device_id, [" [", device_id, "]"], ""}, " " , message, "\n"]}]},
                      {lager_file_backend, [{file, "debug.log"},
                                            {level, debug},
                                            {formatter_config,
                                             ["[", date, " ", time, "] ", pid, " [", severity,"]",  {device_id, [" [", device_id, "]"], ""}, " [",
                                              {module, ""}, {function, [":", function], ""}, {line, [":", line], ""}, "] ", message, "\n"]}]},
                      {lager_file_backend, [{file, "error.log"},
                                            {level, error},
                                            {formatter_config,
                                             ["[", date, " ", time, "] ", pid, " [", severity,"]",  {device_id, [" [", device_id, "]"], ""}, " [",
                                              {module, ""}, {function, [":", function], ""}, {line, [":", line], ""}, "] ", message, "\n"]}]}
                     ]}]},
 {router, [{port, 2154},
           {seed_nodes, "/ip4/34.222.64.221/tcp/2154,/ip4/34.208.255.251/tcp/2154"},
           {base_dir, "/var/data"},
           {max_connections, 250},
           {oui, 1},
           {router_device_api_module, router_device_api_console},
           {router_device_api_console, [{endpoint, <<"https://console.helium.com">>},
                                        {ws_endpoint, <<"wss://console.helium.com/socket/router/websocket">>},
                                        {secret, <<>>}]}]}].
