%% -*- erlang -*-
[
    {libp2p, [{max_tcp_connections, 50000}]},
    {blockchain, [{sc_packet_handler, router_device_routing}]},
    {router, [
        {port, 2154},
        {seed_nodes, "/ip4/34.222.64.221/tcp/2154,/ip4/34.208.255.251/tcp/2154"},
        {base_dir, "/var/data"},
        {max_connections, 250},
        {max_v8_context, 1000},
        {oui, 1},
        {dc_tracker, "enabled"},
        {sc_open_dc_amount, 100000000},
        {sc_expiration_interval, 25},
        {router_console_device_api, [
            {endpoint, <<"https://console.helium.com">>},
            {ws_endpoint, <<"wss://console.helium.com/socket/router/websocket">>},
            {secret, <<>>}
        ]},
        {metrics, [
            {reporters, [router_metrics_reporter_prometheus]},
            {router_metrics_reporter_prometheus, [{port, 3000}]}
        ]}
    ]},
    {chatterbox, [
        {port, 8080},
        {ssl, false},
        {ssl_options, [
            {certfile, "localhost.crt"},
            {keyfile, "localhost.key"},
            {versions, ['tlsv1.2']},
            {alpn_preferred_protocols, [<<"h2">>]}
        ]},
        {concurrent_acceptors, 100},
        {stream_callback_mod, lib_http2_stream},
        {chatterbox_static_content_handler, [
            {root_dir, "./"}
        ]},
        {chatterbox_static_stream, [
            {root_dir, "./"}
        ]}
    ]},
    {prometheus, [
        {collectors, [
            prometheus_boolean,
            prometheus_counter,
            prometheus_gauge,
            prometheus_histogram,
            prometheus_vm_memory_collector,
            prometheus_vm_system_info_collector
        ]},
        {vm_system_info_collector_metrics, [process_count]}
    ]},
    {lager, [
        {suppress_supervisor_start_stop, true},
        {log_root, "/var/data/log/router"},
        {crash_log, "crash.log"},
        {colored, true},
        {handlers, [
            {lager_console_backend, [
                {level, info},
                {formatter_config, [
                    "[",
                    date,
                    " ",
                    time,
                    "] ",
                    pid,
                    " [",
                    severity,
                    "]",
                    {device_id, [" [", device_id, "]"], ""},
                    " ",
                    message,
                    "\n"
                ]}
            ]},
            {lager_file_backend, [
                {file, "debug.log"},
                {level, debug},
                {formatter_config, [
                    "[",
                    date,
                    " ",
                    time,
                    "] ",
                    pid,
                    " [",
                    severity,
                    "]",
                    {device_id, [" [", device_id, "]"], ""},
                    " [",
                    {module, ""},
                    {function, [":", function], ""},
                    {line, [":", line], ""},
                    "] ",
                    message,
                    "\n"
                ]}
            ]},
            {lager_file_backend, [
                {file, "error.log"},
                {level, error},
                {formatter_config, [
                    "[",
                    date,
                    " ",
                    time,
                    "] ",
                    pid,
                    " [",
                    severity,
                    "]",
                    {device_id, [" [", device_id, "]"], ""},
                    " [",
                    {module, ""},
                    {function, [":", function], ""},
                    {line, [":", line], ""},
                    "] ",
                    message,
                    "\n"
                ]}
            ]}
        ]}
    ]}
].
