%% -*- erlang -*-
[
    {router, [
        {oui, 1},
        {metrics, [{reporters, []}]},
        {max_v8_context, 1},
        {router_http_channel_url_check, false},
        {router_xor_filter_worker, true}
    ]},
    {blockchain, [
        {port, 3615}
    ]},
    {grpcbox, [
        {servers, [
            #{
                grpc_opts => #{
                    service_protos => [router_pb],
                    services => #{'helium.router' => helium_router_service}
                },
                transport_opts => #{ssl => false},
                listen_opts => #{
                    port => 8080,
                    ip => {0, 0, 0, 0}
                },
                pool_opts => #{size => 2},
                server_opts => #{
                    header_table_size => 4096,
                    enable_push => 1,
                    max_concurrent_streams => unlimited,
                    initial_window_size => 65535,
                    max_frame_size => 16384,
                    max_header_list_size => unlimited
                }
            }
        ]}
    ]}
].
