%% -*- erlang -*-
[
    {router, [
        {oui, 1},
        {metrics, [{reporters, []}]},
        {max_v8_context, 1},
        {router_http_channel_url_check, false}
    ]},
    {blockchain, [
        {port, 3615}
    ]},
    {chatterbox, [
        {port, 8080},
        {ssl, false},
        {ssl_options, [
            {certfile, "localhost.crt"},
            {keyfile, "localhost.key"},
            {versions, ['tlsv1.2']},
            {alpn_preferred_protocols, [<<"h2">>]}
        ]},
        {concurrent_acceptors, 2},
        {stream_callback_mod, lib_http2_stream},
        {chatterbox_static_content_handler, [
            {root_dir, "./"}
        ]},
        {chatterbox_static_stream, [
            {root_dir, "./"}
        ]}
    ]}
].
